@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900;
  @apply text-slate-100;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  z-index: 1;
}

*::-webkit-scrollbar-track {
  background: #e3e2e2;
  z-index: 30;
}

*::-webkit-scrollbar-thumb {
  background-color: #042b55;
}
